#define IDI_ICON1 101

#define IDR_WAVE1 201
#define IDR_WAVE2 202
#define IDR_WAVE3 203
#define IDR_WAVE4 204
#define IDR_WAVE5 205

IDI_ICON1 ICON "src/Snake_icon.ico"

IDR_WAVE1 WAVE "Sounds/chrup.wav"
IDR_WAVE2 WAVE "Sounds/keyboard_sound.wav"
IDR_WAVE3 WAVE "Sounds/Snejk.wav"
IDR_WAVE4 WAVE "Sounds/THX.wav"
IDR_WAVE5 WAVE "Sounds/WK-K_Studios.wav"